<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ResearchMantra Automation Suite" verbose="3">
  
  <test name="End-to-End Regression Test (New User Flow)" preserve-order="true">
    <classes>
      <class name="RESEARCHMANTRA_AUTOMATION.AUTOMATION.Login_Screen_Tests"/>
      
      <class name="RESEARCHMANTRA_AUTOMATION.AUTOMATION.Dashboard_Navigation_Tests"/>
      <class name="RESEARCHMANTRA_AUTOMATION.AUTOMATION.All_Products_Payment_Flow_Tests"/>
      
      <class name="RESEARCHMANTRA_AUTOMATION.AUTOMATION.Trades_Screen_Tests"/>
       
      <class name="RESEARCHMANTRA_AUTOMATION.AUTOMATION.Push_Notification_And_Signal_Tests"/>
      
      <class name="RESEARCHMANTRA_AUTOMATION.AUTOMATION.Blogs_Screen_Tests"/>
      
      <class name="RESEARCHMANTRA_AUTOMATION.AUTOMATION.Tools_Screen_Tests"/>
      
      <class name="RESEARCHMANTRA_AUTOMATION.AUTOMATION.Profile_And_Settings_Tests"/>
    </classes>
  </test> 
</suite>